%form.blowitup{:action=>"/", :method=>"POST"}
  %textarea{:name=>"message"}
  /%select{:name=>"style"}
  /%option{:value=>"flicker"}flicker
  / TODO: add others
  %input.button{:type=>"submit", :value=>"POST"}
