!!! 5
%html
  %head
    %link{:href=>"/css/all.css"}
  %header
    %h1 BLOWITUP
    %h3 Saywhatchugottasay
  
  %body
    = yield
  
  %footer
    %p Copyright &copy; 2010 Ghettochip Industries
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %script{:src=>"/js/app.js"}