.word
  %a{:href=>"/"}
    %img{:src=>"/img/boombox_small.png"}
    %p BLOWITUP<span class="small">&trade;
    %p.tag fo' sho'

%h1= locals[:message]

%link{:rel=>"stylesheet", :type=>"text/css", :href=>"/css/blowitup.css"}
%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
:javascript
  var colors = ["red","green","white","blue","orange","grey","yellow","black","brown","purple","pink","teal","maroon"]
  var blacknwhite = ["black", "white"]
  // TODO add others
  function flicker(){
    for (var i in colors) {
      $("html").css("background", colors[Math.floor(Math.random()*colors.length)])
      $("h1").css("color", blacknwhite[Math.floor(Math.random()*blacknwhite.length)])
    }
  }

  setInterval("flicker()", 80 )
