.stats
  %h3= "Total Messages: #{locals[:total]}"
  %ul
    - locals[:report].each do |li|
      = li

:javascript
  $("li:odd").css("background-color", "#ddd")
  $("li:even").css("background-color", "#eee")
