html {
  width:100%;
  background-color:#EEE582;
  font-family:"Monaco";
}
body {
  text-align:center;
}
header {
  font-family:'Courier';
}
header .teal {
  margin-top:-10px;
  height:20px;
  background-color:#A8F4DD;
}
header .pink {
  height:30px;
  background-color:#FFDFF2;
}
header .brown {
  height:50px;
  background-color:#7C4E18;
}
header .orange {
  height:10px;
  background-color:#FF9400;
}
header a {
  color:#C4F9FC;
  font-family:'Courier';
  font-size:2.8em;
  text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
  letter-spacing:-1px;
  text-decoration:none;
}
header a:hover {
  color:#DCFBFF;
  text-shadow: rgba(10, 10, 10, 0.5) 1px 5px 9px;
}
a {
  color:red;
}
.huh {
  position:absolute;
  left:0;
  margin-left:-20px;
  padding:8px;
  background-color:#5194DF;
  border: 2px solid #fff;
  cursor:pointer;
  -webkit-transform: rotate(90deg);
  -webkit-border-radius:6px;
}
.huh a {
  color:#fff;
  text-decoration:none;
}
.huh:hover {
  margin-left:-15px;
}
.info {
  margin:0 auto;
}
.info h2, .info p {
  margin-left:20%;
  text-align:left;
}
.blowitup {
  margin:0 auto;
  width:625px;
}
.blowitup textarea {
  float:left;
  overflow:hidden;
  border:6px solid #A8F4DD;
  text-transform:uppercase;
  margin:40px;
  padding:12px;
  font-size:30pt;
  width:550px;
  color:#7C4E18;
  font-family:"Courier";
  font-weight:bold;
  letter-spacing:-1px;
}
.blowitup textarea:focus {
  background-color:#FFDFF2;
}
.blowitup .button {
  float:right;
  cursor:pointer;
  color:#fff;
  font-family:'Lucida Grande';
  letter-spacing:1px;
  font-size:14pt;
  font-weight:bold;
  border:2px solid #999;
  background-color: rgba(108, 191, 255, .9);
  vertical-align:middle;
  text-align:center;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  padding:8px;
}
.copynpaste {
  width:420px;
  font-size:14pt;
}
.stats {
  margin:0 auto;
  width:1100px;
}
.stats ul {
  border: 3px solid #333;
  background-color:#333;
}
.stats em {
  color:#999;
}
.stats li .views {
  color:#26B6E7;
}
.stats li {
  list-style:none;
  padding:4px;
  text-align:left;
}
footer {
  clear:both;
  margin:280px auto;
  width:580px;
}